.footer {
  background-color: #000;
}

.footerWrapper {
  height: 144px;
  color: #fff;
  display: flex;
  align-items: center;
}

.footerLogo {
  font-family: "SourceSansPro";
  font-size: 54px;
  font-style: italic;
}
