*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

@font-face {
  font-family: 'Romanesco Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Romanesco'), url('./assets/fonts/Romanesco-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: 400;
  src: local('SourceSansPro Regular'), url('./assets/fonts/SourceSansPro-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: 600;
  src: local('SourceSansPro SemiBold'), url('./assets/fonts/SourceSansPro-SemiBold.woff2') format('woff2');
}

.body {
  color: #333333;
  background-color:  #F5F5F5;
}

.container {
  max-width: 1390px;
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
}